<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- ========================= GENERAL DEFINITIONS ========================= -->
	<!-- Configurer that replaces ${...} placeholders with values from a properties 
		file -->
	<!-- (in this case, JDBC-related settings for the dataSource definition 
		below) -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>/WEB-INF/config/donkey.properties</value>
			</list>
		</property>
	</bean>
	
	<bean id="system_admin" class="com.richitec.donkey.mvc.model.Admin">
		<property name="name">
			<value>${admin.name}</value>
		</property>
		<property name="password">
			<value>${admin.password}</value>
		</property>
	</bean>
	
	<bean id="donkey_treadpool" class="com.richitec.donkey.DonkeyThreadPool">
	</bean>
	
	<bean id="conference_manager" class="com.richitec.donkey.conference.ConferenceManager">
	</bean>
	
	<bean id="actor_manager" class="com.richitec.donkey.conference.actor.ActorManager">
	</bean>	
	
	<bean id="msml_helper" class="com.richitec.donkey.MSMLHelper">
	</bean>
	
	<bean id="global_config" class="com.richitec.donkey.conference.GlobalConfig">
		<property name="sipUri">
			<value>${donkey.sipUri}</value>
		</property>
		<property name="outboundIP">
			<value>${donkey.outbound.ip}</value>
		</property>	
		<property name="outboundPort">
			<value>${donkey.outbound.port}</value>
		</property>	
		<property name="mediaServerSipUri">
			<value>${donkey.mediaServer.sipUri}</value>
		</property>	
		<property name="softSwitchSipUri">
			<value>${donkey.softSwitch.sipUri}</value>
		</property>
		<property name="softSwitchIP">
			<value>${donkey.softSwitch.ip}</value>
		</property>		
		<property name="expire">
			<value>${donkey.conference.expire}</value>
		</property>	
		<property name="delayVoice">
			<value>${donkey.mediaServer.voice.delay}</value>
		</property>		
		<property name="noConferenceVoice">
			<value>${donkey.mediaServer.voice.noconference}</value>
		</property>
		<property name="joinConferenceVoice">
			<value>${donkey.mediaServer.voice.joinconference}</value>
		</property>	
		<property name="inputConferenceVoice">
			<value>${donkey.mediaServer.voice.inputconference}</value>
		</property>
        <property name="joinConfNoticeVoice">
            <value>${donkey.mediaServer.voice.joinnotice}</value>
        </property>		
	</bean>
	
	<bean id="mysql_connection_pool" 
		class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		
		<property name="driverClass">
			<value>${jdbc.driverClassName}</value>
		</property>
		<property name="jdbcUrl">
			<value>${jdbc.url}</value>
		</property>
		<property name="user">
			<value>${jdbc.username}</value>
		</property>
		<property name="password">
			<value>${jdbc.password}</value>
		</property>
		<property name="acquireIncrement">
			<value>1</value>
		</property>			
		<property name="checkoutTimeout">
			<value>30000</value>
		</property>	
		<property name="preferredTestQuery">
			<value>SELECT 1</value>
		</property>
		<property name="testConnectionOnCheckin">
			<value>true</value>
		</property>	
		<property name="idleConnectionTestPeriod">
			<value>300</value>
		</property>
		<property name="maxIdleTimeExcessConnections">
			<value>600</value>
		</property>
		<property name="unreturnedConnectionTimeout">
			<value>30</value>
		</property>	
		<property name="debugUnreturnedConnectionStackTraces">
			<value>true</value>
		</property>			
		<property name="maxStatementsPerConnection">
			<value>10</value>
		</property>	
		<property name="maxStatements">
			<value>100</value>
		</property>				 		
	</bean>	
	
	<bean id="application_dao" class="com.richitec.donkey.mvc.model.ApplicationDAO">
		<property name="dataSource" ref="mysql_connection_pool"></property>
	</bean>

</beans>