<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>donkey</display-name>
	
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>donkey.root</param-value>
	</context-param>
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/log4j.properties</param-value>
	</context-param>

	<!-- 配置Spring -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</context-param>
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>

	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>

	<listener>
		<listener-class>com.ivyinfo.donkey.DonkeyWebContainerListener</listener-class>
	</listener>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<description></description>
		<display-name>DonkeyApiServlet</display-name>
		<servlet-name>DonkeyApiServlet</servlet-name>
		<servlet-class>com.ivyinfo.donkey.http.api.DonkeyApiServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DonkeyApiServlet</servlet-name>
		<url-pattern>/api</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>AdminLoginServlet</display-name>
		<servlet-name>AdminLoginServlet</servlet-name>
		<servlet-class>com.ivyinfo.donkey.admin.servlet.AdminLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminLoginServlet</servlet-name>
		<url-pattern>/adminlogin</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>DevInfoManageServlet</display-name>
		<servlet-name>DevInfoManageServlet</servlet-name>
		<servlet-class>com.ivyinfo.donkey.admin.servlet.DevInfoManageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DevInfoManageServlet</servlet-name>
		<url-pattern>/devinfomanage</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>CdrManageServlet</display-name>
		<servlet-name>CdrManageServlet</servlet-name>
		<servlet-class>com.ivyinfo.donkey.admin.servlet.CdrManageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CdrManageServlet</servlet-name>
		<url-pattern>/cdrmanage</url-pattern>
	</servlet-mapping>

	<!-- 导出excel -->
	<servlet>
		<description></description>
		<display-name>CdrExportServlet</display-name>
		<servlet-name>CdrExportServlet</servlet-name>
		<servlet-class>com.ivyinfo.donkey.admin.servlet.CdrExportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CdrExportServlet</servlet-name>
		<url-pattern>/cdrExportServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>AdminLogoutServlet</display-name>
		<servlet-name>AdminLogoutServlet</servlet-name>
		<servlet-class>com.ivyinfo.donkey.admin.servlet.AdminLogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminLogoutServlet</servlet-name>
		<url-pattern>/adminlogout</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>GearmanEventNotifyServlet</display-name>
		<servlet-name>GearmanEventNotifyServlet</servlet-name>
		<servlet-class>com.ivyinfo.donkey.sample.GearmanEventNotifyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GearmanEventNotifyServlet</servlet-name>
		<url-pattern>/GearmanEventNotify</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>RecordConfSubscribeServlet</display-name>
		<servlet-name>RecordConfSubscribeServlet</servlet-name>
		<servlet-class>com.ivyinfo.donkey.sample.RecordConfSubscribeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RecordConfSubscribeServlet</servlet-name>
		<url-pattern>/RecordConfSubscribe</url-pattern>
	</servlet-mapping>
</web-app>