<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>donkey</display-name>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>	
	
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>donkey.root</param-value>
	</context-param>

	<!-- 配置Spring -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/applicationContext.xml</param-value>
	</context-param>
	
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/config/log4j.properties</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	
	<listener>
		<listener-class>com.richitec.donkey.ContextLoader</listener-class>
	</listener>
	
	<!-- Reads request input using UTF-8 encoding -->
	<filter>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- Handles all requests into the application -->
	<servlet>
		<servlet-name>Spring MVC Dispatcher Servlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				/WEB-INF/spring/servlet-context.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Spring MVC Dispatcher Servlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>


	<servlet>
		<description></description>
		<display-name>DonkeyApiServlet</display-name>
		<servlet-name>DonkeyApiServlet</servlet-name>
		<servlet-class>com.ivyinfo.donkey.http.api.DonkeyApiServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DonkeyApiServlet</servlet-name>
		<url-pattern>/api</url-pattern>
	</servlet-mapping>

	<!-- 导出excel -->
	<servlet>
		<description></description>
		<display-name>CdrExportServlet</display-name>
		<servlet-name>CdrExportServlet</servlet-name>
		<servlet-class>com.ivyinfo.donkey.admin.servlet.CdrExportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CdrExportServlet</servlet-name>
		<url-pattern>/cdrExportServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>GearmanEventNotifyServlet</display-name>
		<servlet-name>GearmanEventNotifyServlet</servlet-name>
		<servlet-class>com.ivyinfo.donkey.sample.GearmanEventNotifyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GearmanEventNotifyServlet</servlet-name>
		<url-pattern>/GearmanEventNotify</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>RecordConfSubscribeServlet</display-name>
		<servlet-name>RecordConfSubscribeServlet</servlet-name>
		<servlet-class>com.ivyinfo.donkey.sample.RecordConfSubscribeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RecordConfSubscribeServlet</servlet-name>
		<url-pattern>/RecordConfSubscribe</url-pattern>
	</servlet-mapping>
</web-app>